.App {

}

.item{

}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  /* Optional: just make scrollbar invisible */
}

.inputSearch:focus{
  outline: 0px solid black;
  outline-offset:0px;
}
